@import "../../styles/app.scss";
@import "../../styles/flex.scss";
@import "../../styles/variables.scss";

.main{
    // border: 1px solid red;
    margin-top: 10%;
    height: 100%;
    .heroText{
        text-align: left;
        letter-spacing: 14px;
        color: $color-gray;
        font-size: $font-size-large;
        // font-size: 52px;
        .wordDiv{
            position: relative;
            width: 100%;
            border-bottom:1px solid rgb(163, 158, 158,.2);
            h1{
                padding-left: 10%;
                margin: 0;
            }
            transition: all .4s ease-in;
        }
        .wordDiv:nth-child(1){
            border-top: 1px solid rgb(163, 158, 158,.2);
        }
        .orange{
            color: $color-orange;
            transition: all .4s ease-in;
        }
        .orange:hover{
            color: black;
        }
        .wordDiv:hover{
            color: black;
            background-color: $color-orange;
        }
    }
    .model{
       position: absolute;
       top: 0;
       right: 0;
    }
}