@import "../../styles/app.scss";
@import "../../styles/flex.scss";
@import "../../styles/variables.scss";

.main{
    margin-top: 10%;
    @extend .flexRow !optional;
    flex: 1;
    // justify-content: space-between;
   .heroleft{
        width: 40%;
        height: 100%;
        // border: 1px solid green;
   }
   .heroRight{
    height: 100%;
    width: 60%;
    // border: 1px solid yellow;   
        // width: 80%;
        @extend .flexCol !optional;
        align-items: center;
        justify-content: flex-start;
        p{
            color: $color-gray;
            font-size: 32px;
            text-align: left;
        }
        .mainText{
            // border: 1px solid blue;
            width: 60%;
            padding: 4rem 0;
            font-size: 48px;
            font-weight: normal;
            color: rgb(235,89,57);
            @extend .glowing-text !optional;
            span{
                color: $color-gray;
            }
            text-align: center;
        }
   }
   height: 80vh;
}