@font-face {
  font-family: 'Karla Bold';
  src: url('../styles/fonts/Karla/Karla-Bold.ttf') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Karla LightItalic';
  src: url('../styles/fonts/Karla/Karla-LightItalic.ttf') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Karla XBoldItalic';
  src: url('../styles/fonts/Karla/Karla-ExtraBoldItalic.ttf') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Avant Garde';
  src: url('../styles/fonts/AvantGarde/AVGARDD_2.TTF') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Avant Garde-2';
  src: url('../styles/fonts/AvantGarde/AVGARDDO_2.TTF') format('woff2');
  font-weight: bold;
  font-style: normal;
}

html{
  font-family: 'Avant Garde';
  background-color: #0D0D0D;
  color: #B7AA98;
  h1,h2,p{
    margin: 0;
    padding: 0;
  }
}
