@import "../styles/app.scss";
@import "../styles/flex.scss";

.loaderDiv{
    height: 100vh;
    overflow: hidden;
    z-index: 999;
}
.mobilewarning{
    @extend .flexCol !optional;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.show {
    visibility: visible; 
}
  
.hide {
    visibility: hidden; 
}
.main{
    position: relative;
    .nameDiv {
        font-size: 18px;
        position: fixed;
        top: 1%;
        left: 45%;
        border-radius: 2rem;
        padding: 1rem 2rem;
        text-align: center;
        color: white;
        z-index: 99;
        background: rgba(255, 255, 255, 0.1); 
        border: 1px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      }      
    section{
        min-height: 100vh;
        // padding-bottom: 10vh;
        // margin-left: 10%;
    }
    cursor: default;
}