@import "../../styles/variables.scss";
@import "../../styles/app.scss";
@import "../../styles/flex.scss";

.main {
  // height: 100%;
  min-height: fit-content;
  margin-top: 20vh;
  padding-bottom: 10vh;

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  .contentContainer {
    margin-left: 10rem;
    height: fit-content;
    width: fit-content;
    position: relative;
    @include respond-to(mobiles){
      margin-left: 5rem;
    }

    .videoContainer {
      padding-top: 5vh;
      height: 80vh;
      width: 80vw;
      border-radius: 5rem;
      @include respond-to(mobiles){
        height: 70vh;
        width: 70vw;
      }
    }


    .scrollContainer {
      // @extend .flexRow !optional;
      display: flex;
      flex-direction: row;
      width: 90vw;
      overflow-x: scroll;
      gap: 5vw;
      padding: 10vh 0 5vh 0;
      perspective: 1200px;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      -ms-overflow-style: none;
      @include respond-to(mobiles){
        width: 80vw;
      }

      .projectDiv {
        // border: 1px solid red;
        @extend .glassyDiv !optional;
        position: relative;
        height: fit-content;
        min-width: 400px;
        border-radius: 10%;
        text-align: center;
        overflow: hidden;
        scroll-snap-align: center;
        transition: transform 0.8s ease, opacity 0.8s ease;
        opacity: 0.6;
        transform-style: preserve-3d;
        @include respond-to(mobiles){
          width: 200px;
        }

        video {
          height: 400px;
          position: absolute;
          top: 0;
          display: none;
          // height: 90% !important;
          z-index: 1;
        }

        .visible {
          display: block;
        }

        .projectName {
          cursor: pointer;
          color: $color-orange;
          padding: 1rem 0;
          font-size: 32px;
          z-index: 10;
          transition: all 0.5s ease-in-out;
        }

        .projectImage {
          width: 400px !important;
          height:400px !important;
          object-fit: cover;
          object-position: center;
          border-radius: inherit;
          opacity: 0.5;
          z-index: 1;
        }


        &:hover {
          opacity: 1;

          .projectName {
            background-color: black;
            color: $color-gray;
            padding: 1rem;
          }
        }
      }

      .active {
        border: 1px solid white;
      }

      .left {
        transform: scale3d(0.7, .7, .5);
        pointer-events: none;
      }

      .right {
        transform: scale3d(.7, .7, .5);
        pointer-events: none;
      }
    }

    .scrollContainer::-webkit-scrollbar {
      display: none;
    }
  }

  svg {
    cursor: pointer;
    padding: 1rem;
    border-radius: 50%;
    background-color: $color-gray;
    fill: black;
  }
}

.prevBtn {
  position: sticky;
  left: 10%;
  transform: rotate(180deg);
}

.nextBtn {
  position: sticky;
  left: 90%;
}

.redirect{
  position: absolute;
  right: 5%;
  bottom: 1%;
}