@import "../../styles/variables.scss";
@import "../../styles/app.scss";
@import "../../styles/flex.scss";

.main {
  // height: 100%;
  min-height: fit-content;
  margin-top: 20vh;
  padding-bottom: 10vh;
  video{
    object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: inherit;
  }
  .contentContainer {
    margin-left: 10rem;
    height: fit-content;
    width: fit-content;
    position: relative;

    .videoContainer{
      padding-top: 5vh;
      height: 80vh;
      width: 80vw;
      border-radius: 5rem;
    }


      .scrollContainer {
        // @extend .flexRow !optional;
        display: flex;
        flex-direction: row;
        // width: 100vw;
        padding-right: 10vh;
        width: fit-content;
        overflow-x: scroll;
        gap: 5vw;  
        padding: 10vh 0 5vh 5vh;
        perspective: 1200px;
        scroll-snap-type: x mandatory;
        scrollbar-width: none; 
        -ms-overflow-style: none; 

        .projectDiv {
          @extend .glassyDiv !optional;
          position: relative;
          height: 600px;
          width: 500px;
          border-radius: 10%;
          text-align: center;
          overflow: hidden;
          scroll-snap-align: center;
          transition: transform 0.8s ease, opacity 0.8s ease;
          opacity: 0.6;
          transform-style: preserve-3d;

          video{
            position: absolute;
            top: 0;
            display: none;
            height: 90% !important;
            z-index: 1;
          }
          .visible{
            display: block;
          }

          .projectName {
            cursor: pointer;
            color: $color-orange;
            padding: 1rem 0;
            font-size: 32px;
            z-index: 10;
            transition: all 0.5s ease-in-out;
          }

          .projectImage {
            width: 100%;
            height: 90% !important;
            object-fit: cover;
            object-position: center;
            border-radius: inherit;
            opacity: 0.5;
            z-index: 1;
          }


          &:hover {
            opacity: 1;

            .projectName {
              background-color: black;
              color: $color-gray;
            }
          }
        }

          .active{
              border: 1px solid white;
          }
          .left{
          transform: rotateY(-15deg) translateZ(-100px) scale3d(0.7,.7,.5);
          }

          .right {
          transform: rotateY(15deg) translateZ(-100px) scale3d(.7,.7,.5);
          }
      }
      .scrollContainer::-webkit-scrollbar {
        display: none;
      }
    }
    button{
        cursor: pointer;
        padding: .7rem 1rem;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(139, 138, 138, 0.512);
        border: 1px solid rgb(122, 122, 122);
    }
}
.prevButton{
    position: sticky;
    left: 10%;
    background-color: $color-orange;
}
.nextButton{
    position: sticky;
    left: 90%;
    background-color: $color-orange;
}