.glowing-text {
    font-size: 2rem;
    font-weight: bold;
    background: rgb(83,15,124);
    background: linear-gradient(90deg, rgb(65, 13, 98) 0%, rgba(110,40,139,1) 38%, rgba(162,12,196,1) 69%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    // text-shadow: 
    // 0 0 3px rgba(138, 43, 226, 0.3), 
    // 0 0 6px rgba(138, 43, 226, 0.3), 
    // 0 0 9px rgba(138, 43, 226, 0.4), 
    // 0 0 12px rgba(138, 43, 226, 0.5);
}  