@import "./variables.scss";
@import "./mixins.scss";

.heading{
    font-size: 100px;
    @include respond-to(mobiles){
        font-size: 60px;
    }
}
.container{
    border-radius: 1rem;
}
.textOrange{
    color: $color-orange;
}
.imgContainer{
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
    }
}
.glassyDiv{
    color: white;
    background: rgba(255, 255, 255, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.401);
    backdrop-filter: blur(20px);
}
.show {
    visibility: visible; 
}
  
.hide {
    visibility: hidden; 
}