@import "../../styles/variables.scss";
@import "../../styles/app.scss";
@import "../../styles/flex.scss";

.main{
    height: 100%;
    margin-left: 10%;
    // border: 1px solid red;
    .timeline{
        background-color: $color-orange;
        position: absolute;
        top: 0;
        left: 0;
        width: .5rem;
        height: 100%;
    }
    .contentContainer{
        position: relative;
        // .circle{
        //     position: absolute;
        //     left: -.5%;
        //     border-radius: 50%;
        //     height: 1.5rem;
        //     width: 1.5rem;
        //     background-color: $color-orange;
        //     &:nth-child(1) {
        //         top: 27%;
        //     }
        //     &:nth-child(2) {
        //         top: 0;
        //     }
        //     &:nth-child(3) {
        //         top: 66%;
        //         color: red;
        //     }
        // }
    }
    .textContent{
        width: fit-content;
        border-bottom: 1px solid rgba(198, 197, 197, 0.512);
        margin-top: 5rem;
        margin-left: 5rem;
        padding-bottom: 2rem;
        h3,h4{
            margin: 0;
            padding: 0;
        }
        .subHeading{
            font-size: 3rem;
            color: $color-orange;
        }
        .course{
            font-size: 2rem;
            padding: 2rem 0;
        }
        .school{
            font-size: 2rem;
        }
    }
    // .textContent:nth-child(1){
    //     margin: 5rem 0 0 10rem;
    // }
    // .textContent:nth-child(2){
    //     padding-right: 0;
    // }
}

