@import "../../styles/variables.scss";
@import "../../styles/app.scss";
@import "../../styles/mixins.scss";

.main {
    position: relative;
    padding: 5vh 0;
    min-height: 110vh;
    background-color:$color-gray-dark;
    @include respond-to(mobiles){
        border:1px solid red;
    }
    .videoContainer{
        height: 30vh;
        width: 30vw;
        border-radius: 1rem;
    
        video{
            height: 100%;
            width: 100%;
            border-radius: inherit;
        }
    }
    .text{
        font-family: 'Manrope-Xbold';
        font-size: 62px;
        letter-spacing: 5px;
        text-align: right;
        // border:1px solid red;
        padding:8rem 10rem 0 0; 
        .iam{
            padding-left: 1rem;
            font-size: 80px;
        }
        .name{
            // font-size: 100px;
            color: $color-orange;
            background: linear-gradient(90deg, rgba(203, 167, 126, 0.918) 2%, rgba(202,180,114,1) 14%, rgba(227,162,14,1) 48%, rgba(235, 90, 57, 1) 92%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            width: fit-content;
        }
        .stack{
            font-size: 120px;
            width: fit-content;
            background: rgb(152,107,182);
            background: linear-gradient(90deg, rgba(152,107,182,0.9878545168067226) 2%, rgba(154,94,205,1) 13%, rgba(134,66,200,1) 41%, rgba(199,67,182,1) 66%, rgba(245,51,89,1) 92%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            width: fit-content;
        }
        .quote{
            font-size:45px;
            position: relative;
            padding-top: 2rem;
            width: fit-content;
            position: absolute;
            right: 10%;
            bottom: 10%;
            .quoteText{
                padding-left: 3rem;
                background: -webkit-linear-gradient(0deg, rgba(223, 217, 157, 0.918) 2%, rgb(197, 175, 111) 14%, rgb(169, 136, 46) 48%, rgba(200,106,2,1) 92%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .quoteOpening{
                position: absolute;
                top: 0%;
                left: 0%;
                font-size: 100px;
                height: fit-content;
            }
        }
    }
    .btnContainer{
        cursor: pointer;
        padding: 2rem;
        position: absolute;
        left: 8%;  
        bottom: 0%;
    }
    .spline{
        // border: 1px solid white;
        position: absolute;
        // bottom: 1%;
        left: 0%;
        z-index: 99;
    }
    .knowMore{
        position: relative;
        padding: 8rem 0 0 4rem;
        // border: 1px solid blue;
        height: 80vh;
        .btnContainer2{
            font-family:"Poppins-Regular";
            cursor: pointer;
            font-size: 22px;
            position: absolute;
            bottom: 0%;
            left: 45%;
        }
        .knowMoreText{
            position: relative;
            font-size: 32px;  
            color: $color-gray;
            width: 90%;
            text-wrap: wrap;
            padding-left: 5rem;
            h1{
                border-bottom: .5px solid #eb5a3997;
                width: fit-content;
                margin-bottom: 4rem;
                svg{
                    opacity: .8 ;
                    padding-right: 2rem;
                }
            }
            .textDiv{
                font-size: 28px;
                margin-top: 5rem;
                // border:   1px solid red;
                // width: 
                letter-spacing: 2px;
                padding-left: 4rem;
                .quoteOpening2{
                    position: absolute;
                    color: $color-orange;
                    font-size: 100px;
                    left: 6%;
                    bottom: 15%;
                }
            }
        }
        .imgContainer{
            position: absolute;
            top: 15%;
            right: 10%;
            height: 400px;
            width: 350px;
            // opacity: 0.5;
            border-radius: 10%;
            @extend .glassyDiv !optional;
        }
        .quote{
            margin-top: 2%;
        }
    }
    .glowBtn{
        cursor: pointer;
        font-size: 22px;
        background: rgb(235,89,57);
        background: linear-gradient(90deg, rgba(235,89,57,1) 0%, rgba(255,194,0,1) 100%);  
        color: white;
        border-radius: 5rem;
        padding: 1rem 3rem;
        border: none;     
        transform: all 0.3s ease-in-out; 
        &:hover{
            box-shadow: 0 0 5px rgba(235,89,57,1), 0 0 20px rgba(255,194,0,1);
        }
    }
    .closeBtn{
        @extend .glowBtn;
        padding: 1rem 1.5rem!important;
        border-radius: 50%;
    }
  }
  